@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
            line-height: 1.5rem;
            font-size: 0.875rem;
            font-weight: 400;
            @apply font-roboto;
            @apply text-gray-600;
            @apply bg-white;
        }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       font-weight: 500;
       line-height: 1.2;
       @apply font-poppins;
       @apply text-gray-800;
   }
}

.testt{
    display: inline-block;
        animation: SlideLeft 5s infinite linear;
            white-space: nowrap;
}

@keyframes SlideLeft {
0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}


input{
    outline: none;
}














.arrow-swiper .arrow-left::after {
    content: "";
    width: 2px;
    height: 20px;
    background: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4px;

}



.test::before {
    font-family: "Font Awesome 6 Free";
    content: "\f004" !important;
    font-weight: 900;
    position: absolute;
    top: 0;
    margin-left: -35px;
    font-size: 20px;
}